<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="image_src" href="../static/img/starfire-logo-black.jpg" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starfire Tai Chi</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Cagliostro' rel='stylesheet' type='text/css'>
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <span><img id="starfire_logo" src="../static/img/starfire_logo.png"> <span class="light">Starfire</span> 
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="/"></a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/schedule">Classes</a>
                    </li>
                    <li>
                        <a href="/news">Resources</a>
                    </li>
                    <li>
                        <a href="/retreat">Tai Chi Adventures</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<div id="about-nav" style="color:white">
<!--     <div class="text-center" style="margin-top:120px;margin-bottom:-250px"> -->
  <!--   <div class="col-lg-8 col-lg-offset-2"> -->
        <div class="about-tabs" id="taichi-tab"><p>News&nbsp;</p></div> |
        <div class="about-tabs" id="class-tab"><p>&nbsp;Products&nbsp;</p></div> | 
        <div class="about-tabs" id="starfire-tab"><p>&nbsp;Notes</p></div> |
    </p>
    </div>
<!--     </div> -->
<!-- </div> -->
    <section id="taichi" class="container content-section text-center">
        <div class="row">        
            <div class="col-lg-8 col-lg-offset-2">
                <div class="about-text">
                <h2>News</h2>
                 <img src="../static/photos/01.JPG" style="width:90%;height:auto">
            <p>Starfire's students, Jaclyn Burge and Quinn Walker, both won gold medals in their divisions competing in the March 2015 CMAT, the largest Chinese Martial Arts Tournament in the Western Hemisphere, held annually in Berkeley, CA. Jaclyn and Quinn both performed the Internal Tai Chi Short Weapon Fan Form, with Quinn also competing in the Internal Open Yang division.
                <img src="../static/photos/12.JPG" style="width:90%;height:auto">
                <hr class="style-one">
                <img src="../static/photos/08.JPG" style="width:90%;height:auto"><p>Join the UC Berkeley RSF group for coffee and conversation at the Berkeley City Club after class!
                <img src="../static/photos/11.JPG" style="width:90%;height:auto">
                <hr class="style-one">
                <img src="../static/photos/28.jpg" style="width:90%;height:auto">
                <p>Stay tuned for the next Starfire Tai Chi Retreat in Hawaii!
                <img src="../static/photos/35.jpg" style="width:90%;height:auto">
                <hr class="style-one">
            </p>
            </div>
        </div>
    </div>
    </section>
    <section id="class" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="about-text">
                <h2>Products</h2>
                <p>A video of the form is available on DVD for $40. We also have T-shirts available, in sizes S, M, L, XL, and XXL. These are $20 including tax and shipping. <a href="mailto:drstarfire@gmail.com">Contact Starfire</a> to get in touch about ordering.</p>
<iframe width=60% height="360" src="https://www.youtube.com/embed/6BNNe7OR03U" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    </section>
<section id="starfire" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="about-text">
                <h2>Notes</h2>
                <p>Here are the instructions for the movements as well as class handouts and notes on various topics. Click to download the files and print out the section you are studying.</p>
                <div >
                <a href="../static/pdfs/01_Movements_of_the_Form.pdf" class="notelinks"></i> <span >Movements of the Long Form</span></a><br><br><br>
            <!--     class="btn btn-default btn-lg" -->
                <a href="../static/pdfs/02_Choreography_of_the_Form.pdf" class="notelinks"></i> <span class="network-name">Choreography of the Long Form</span></a><br><br><br>
                <a href="../static/pdfs/short_form.pdf" class="notelinks"></i> <span class="network-name">Movements of the Short Form</span></a><br><br><br>
                <a href="../static/pdfs/short_form_moves.pdf" class="notelinks"></i> <span class="network-name">Choreography of the Short Form</span></a><br><br><br>
                 <a href="../static/pdfs/03_Movements_of_the_Fast_Set.pdf" class="notelinks"></i> <span class="network-name">Movements of the Fast Set</span></a><br><br><br>
                <a href="../static/pdfs/05_Movements_of_the_Sword_Set.pdf" class="notelinks"></i> <span class="network-name">Movements of the Sword Set</span></a><br><br><br>
                <a href="../static/pdfs/06_Ten_Essential_Points.pdf" class="notelinks"></i> <span class="network-name">Ten Essential Points</span></a><br><br><br>
                <a href="../static/pdfs/07_Six_Healing_Sounds.pdf" class="notelinks"></i> <span class="network-name">Six Healing Sounds</span></a>
               </div>
            </div>
        </div>
    </div>
    </section>
<section id="quinn" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="about-text">
                <h2>About Mighty Quinn</h2>
                <p>Mighty Quinn, aka Quinn Walker, is an Oakland native and UC Berkeley alumni who has been teaching Music, Yoga, and Tai Chi for over 15 years. Quinn has enjoyed working with a diverse range of students age 8-88 at schools all over the Bay Area. Quinn's greatest strength is that he is passionate about helping people learn to be happier and healthier. Quinn's own struggles with illness led him to study Yoga, Physical Therapy, Feldenkrais, and Tai Chi. Quinn's class focuses on: Healing, Fun!, and learning martial applications in a safe supportive environment. Beginners welcome!
                </p>
                <img id="quinn-photo" src="../static/img/quinn.JPG">
            </div>
        </div>
        </div>  
    </section>  




    <!-- Footer -->
    <footer style="color:white">
        <div class="container text-center">
            <p>Copyright &copy; 2017</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/js/grayscale.js"></script>

</body>

</html>